body{
  background-color:antiquewhite;
  font-family: system-ui;
 
 
}

.container{
  width: 100%;
  margin: auto;
  transition: 0.5s;
 
  
}
header h2{
 font-size: 32px;
  margin:30px;
  color: rgb(101, 45, 5);
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  margin-left: 43px;
 margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr 80px;
  width: 90%;
  background-color: bisque;
padding-right: 40px;
border-radius: 15px;
height: 90px;
 
}
header .shopping{
  margin-top: 28px;
 

    display: flex;
    justify-content:space-between;
    letter-spacing: 30px;
   
    padding-bottom: 40px;
    width: 50px;
  
  }
header .shopping span{
  color: rgb(212, 106, 8);
  position: absolute;
  margin-left: 73px;
  padding:5.6px 57px 67px 0.5px ;
  font-family: sans-serif;
 
  
}
.list{
  display: grid;
  grid-template-columns: repeat(3, 390PX);
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 40px;
  text-align: center;
}
.list .item{
  text-align: center;
  
 padding:7px;

  letter-spacing: 1px;
}
.list .item img{
  width: 370PX;
  height: 450px;
    object-fit: cover;
    border-radius: 15px;
  box-shadow: 8px 8px 10px rgb(123, 81, 39);
}

.list .item .price{
  margin: 15px;
  font-size:19px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  position:
   relative;
  background-color: bisque;
  color:rgb(56, 29, 2);
  width: 45%;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:16px ;
  color:rgb(56, 29, 2);
  width: 45%;
  padding: 8px;
border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:16px ;
  cursor: pointer;
  transition: background 0.5s;
  margin:10px;
}
button:first-child:hover{
  background: linear-gradient(40deg, #f5f7f8, Peru,rgb(255, 128, 0),rgb(255, 182, 108));
  background-size: 400%;
}
button:last-child:hover{
  background: linear-gradient(40deg,rgb(159, 128, 97), rgb(235, 172, 106), rgb(165, 109, 53), rgb(255, 201, 147));
  background-size: 400%;
}
button:first-child:before,
button:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
button:first-child:hover:before,
button:last-child:hover:before{
  opacity: 1;
  z-index: -1;
}
button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

.card{
  position: fixed;
  top:0;
  left: 100%;
  width: 500px;
background-color: antiquewhite;
  height: 100vh;
  transition: 0.5s;
  padding-right: 60px;
  margin-bottom: 20px;
 
}
.active .card{
  left: calc(100% - 500px);

}
.active .container{
 transform: translateX(-200px);
}
.card h2{
  color: rgb(78, 40, 3);
  font-weight: 100;
  margin: 2px;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card .checkOut{
  position: absolute;
  bottom: 14px;
  width: 94%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
  background-color: rgb(248, 171, 93);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2){
  background-color: peru;
  color: rgb(48, 25, 2);
}
.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 200px);
  color: #080707;
  row-gap: 26px;
  border-bottom: 2px solid rgb(75, 39, 2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:17px;
  font-weight: 20px;
}
.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img{
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(129, 67, 5);
  padding:5px;
}
.listCard li button{
background-color: rgb(255, 189, 102);
  border: none;
  font-size: 12px;
  width: 18px;
  
}
.listCard .count{
  margin: 0 9px;
}
h1 span {
  color: rgb(165, 102, 19);
  font-size:50px ;
  font-family: sans-serif;
  font-weight: 20px;

}
h1{
  margin:3px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: rgb(101, 45, 5);
  height: 60px;
 
 
}
.titre{
  margin-top: 20px;
  margin-left: 60px;
  width: 95%;
  font-size: 28px;
  font-weight: 27px;
color: rgb(12, 7, 1);
text-align: center;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 33px;
}

.home {

color: rgb(101, 45, 5);
font-size: 25px;
text-align: left;
}
.panier{
padding-right:50px;

color: rgb(101, 45, 5);
font-size: 27px;

}
#btn{
  width:30px;
  height:30px;border:none;
  background: rgb(254, 197, 140);
  position:fixed;
  bottom: 10px;
  
  right:10px;
}